body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box2{
    border: 2px solid black;
    width: 800px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box1{
    /* background-color: gray; */
    border: 2px solid black;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    /* transform: translateX(-50%);
    transform: translateY(-10rem);
    transform: translate(60%, -8rem);
    transform: rotate(-64deg);
    transform: scaleX(80%);
    transform: scaleY(120%);
    transform: scale(70%, 90%);
    transform: skewX(-10deg);
    transform: skewY(10deg);
    transform: skew(-10deg, 10deg); */
    
}

/* Transitions*/

.box1:hover{
    background-color: rebeccapurple;
    transform: rotate(90deg);
    /* transition-property: background-color, transform;
    transition: all;
    transition-duration: 2s, 3s;
    transition-delay: 0.5s; 
    transition-timing-function: linear;*/
    transition: all 2s ease-in-out 0.5s;
}

/*Animations*/
/*Animation-name deifnes the name of animation*/
/*animation-duration Puts a duration for how much time the animation will take to complete one round*/
/*animation-delay delays and starts the animation by the specifies delay second*/
/*animation-iteration-count is the one that decides for how many turns the animation will run*/
/*animation-timing-function decides the speed by which animation will occur*/
/*Animation-direction This defines whether the animation plays forward, backward, or alternates back and forth. It's normal by default*/
/*Animation-fill-mode dictates what styles are applied to the element before the animation starts (during a delay) and after it finishes.*/

.box1{
    /* animation-name: moving;   
    animation-duration: 7s;     
    animation-timing-function: ease-in-out;   
    animation-delay: 1s;      
    animation-iteration-count: infinite;  
    animation-direction: normal;      
    animation-fill-mode: forwards; */
    animation: moving 7s ease-in-out 1s infinite normal forwards;
}
@keyframes moving {
    0%{
        transform: translate(0, 0);
    }
    30% {
    transform: translate(300px, -100px) rotate(180deg);
    }

    66% {
    transform: translate(-300px, 100px) rotate(-180deg);
    }

    100% {
    transform: translate(0, 0);
    background-color: yellow;
    }    
}